body {
    background-color: lightsteelblue;
}

.gen-title {
    text-align: center;
    
}

.list {
    .list-item {
        margin: 10px;
        .list-item-title {
            align-items: center;
            justify-content: space-between;
            .mat-card-header-text {
                width: 100%;
                mat-card-title {
                    margin-bottom: 0px;
                    a {
                        text-decoration: none;
                        color: black;
                        display: inline-block;
                        width: 100%;
                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }
 
            }
        }
    }
}

.crossed {
    a {
        text-decoration: line-through !important;
    }
    
}

